[submodule "vapoursynth"]
	path = vapoursynth
	url = https://github.com/vapoursynth/vapoursynth.git
[submodule "AviSynthPlus"]
	path = AviSynthPlus
	url = https://github.com/AviSynth/AviSynthPlus.git
